BasedOnStyle: GOOGLE
ColumnLimit: 120
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
IndentRequiresClause: false
IndentPPDirectives: AfterHash
